:root{
    box-sizing: border-box;
}
#heading{
    color: darkred;
    border: dashed;
} 
html{
    background-color: white;
}
#para{
    font-style: italic;
}
#melo{
    height: 300px;
    width: 200px;

}
#clips{
    color: blue;
    background-color:red;
}
#knicks {
    color: orange;
    background-color: blue;
}
#mets{
    color: blue;
    background-color: orange;
}
#p {
    margin: 15px;
    border: solid darkred;
    padding: 15px;
    font-weight: bold;
}

li{
    font-style: italic;
}

.bold{
    font-weight: bold;
}